<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Book Marvel Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-home">Admin-Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-movies">Admin-Movies </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-theatres">Admin-Theatres </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-shows">Admin-Shows </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/admin-bookings">Admin-Bookings <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<br>
<br>

<br>

<table class="table table-hover" style="text-align: center;">
    <thead>
        <tr>
            <th scope="col">Customer Name</th>
            <th scope="col">Movie</th>
            <th scope="col">Theatre</th>
            <th scope="col">Date and time</th>
            <th scope="col">Number of Tickets</th>
        </tr>
    </thead>
    <tbody *ngFor="let booking of bookings">
        <tr>
            <td>{{booking.user_name}}</td>
            <td>{{booking.movie}}</td>
            <td>{{booking.theatre}}</td>
            <td>{{booking.date}} {{booking.time}}</td>
            <td>{{booking.count}}</td>
        </tr>
    </tbody>
</table>
<br>
<div style="text-align: center"><button type="button" class="btn btn-primary btn-sm" (click)="refresh()">Refresh</button></div>
<br>