<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/home" style="cursor: pointer" (click)="goHome()">News Application</a>
  
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" >
        <a class="nav-link" style="cursor: pointer" (click)="goHome()">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="cursor: pointer" (click)="goSports()">Sports</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="cursor: pointer" (click)="goBusi()">Business</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="cursor: pointer" (click)="goTech()">Technology</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
