<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Book Marvel Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-home">Admin-Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-movies">Admin-Movies </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-theatres">Admin-Theatres </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/admin-shows">Admin-Shows <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-bookings">Admin-Bookings </a>
      </li>
    </ul>
  </div>
</nav>


<br>
<br>
<br>
<div class="btn-group btn-group-lg" role="group">
  <span style="padding-left: 30px"></span>
  <button type="button" class="btn btn-primary" (click)="viewMode='view'">View Shows</button>
  <span style="padding-left: 30px"></span>
  <button type="button" class="btn btn-primary" (click)="viewMode='add'">Add new show</button>
  <span style="padding-left: 30px"></span>
  <button type="button" class="btn btn-primary" (click)="viewMode='delete'">Delete show</button>
</div>

<br>
<br>

<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'view'">
      <h2>List of all Shows:</h2>
      <table class="table table-hover" style="text-align: center;">
          <thead>
              <tr>
                  <th scope="col">Movie</th>
                  <th scope="col">Theatre</th>
                  <th scope="col">Ticket Price</th>
                  <th scope="col">Date and time</th>
                  <th scope="col">Total Tickets</th>
                  <th scope="col">Available Tickets</th>
              </tr>
          </thead>
          <tbody *ngFor="let show of shows">
              <tr>
                  <td>{{show.movie}}</td>
                  <td>{{show.theatre}}</td>
                  <td>{{show.price}}</td>
                  <td>{{show.date}} {{show.time}}</td>
                  <td>{{show.tickets_total}}</td>
                  <td>{{show.tickets_available}}</td>
              </tr>
          </tbody>
      </table>
  </div>
  

  <div *ngSwitchCase="'add'">
      <h2>Add new show:</h2>
      <form>
          <div class="form-group">
            <h3>Enter the details of the new Theatre</h3>
            <label for="movie">Enter name of movie:</label>
            <input type="email" class="form-control" id="movie" [(ngModel)]="show.movie" [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp" placeholder="Movie name">
            <label for="theatre">Enter name of theatre:</label>
            <input type="email" class="form-control" id="theatre" [(ngModel)]="show.theatre" [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp" placeholder="Theatre name">
            <label for="price">Enter price:</label>
            <input type="number" class="form-control" id="price" [(ngModel)]="show.price" [ngModelOptions]="{standalone: true}"  aria-describedby="emailHelp" placeholder="Price">
            <label for="date">Enter date:</label>
            <input type="email" class="form-control" id="date" [(ngModel)]="show.date" [ngModelOptions]="{standalone: true}"  aria-describedby="emailHelp" placeholder="Date">
            <label for="time">Enter Time:</label>
            <input type="email" class="form-control" id="time" [(ngModel)]="show.time" [ngModelOptions]="{standalone: true}"  aria-describedby="emailHelp" placeholder="Time">
            <label for="rating">Enter total number of tickets:</label>
            <input type="number" class="form-control" id="rating" [(ngModel)]="show.tickets_total" [ngModelOptions]="{standalone: true}"  aria-describedby="emailHelp" placeholder="Total tickets">
          </div>
          <button type="submit" class="btn btn-primary" (click)="add()">Submit</button>
        </form>
  </div>

  <div *ngSwitchCase="'delete'">
      <table class="table table-hover" style="text-align: center;">
          <thead>
              <tr>
                  <th scope="col">Movie</th>
                  <th scope="col">Theatre</th>
                  <th scope="col">Date and time</th>
              </tr>
          </thead>
          <tbody *ngFor="let show of shows">
              <tr>
                  <td>{{show.movie}}</td>
                  <td>{{show.theatre}}</td>
                  <td>{{show.date}} {{show.time}}</td>
                  <td><button type="button" class="btn btn-primary" (click)="delete(show.movie, show.theatre, show.date, show.time)">Delete show</button></td>
              </tr>
          </tbody>
      </table>
  </div>

</div>