<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/home" style="cursor: pointer">News Application</a>
  
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" >
        <a class="nav-link" style="cursor: pointer" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer" routerLink="/sports">Sports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer" routerLink="/business">Business</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer" routerLink="/tech">Technology</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="cursor: pointer" routerLink="/select-country">Select Country</a>
      </li>
    </ul>
  </div>
</nav>
<h1 style="text-align: center">Select Country:</h1>

<table class="table table-borderless">
  <thead>
    <tr>
      <td style="color: gray; font-size: 50px; text-align: center;"><strong> India </strong></td>
      <td style="color: gray; font-size: 50px; text-align: center;"><strong> USA </strong></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="cursor: pointer; padding-top:184px; padding-bottom:300px; background-image: url(https://newsapi.org/images/flags/in.svg); background-repeat: no-repeat; text-align: center; background-position: center; "
        (click)="india()"></td>
      <td style="cursor: pointer; padding-top:184px; padding-bottom:300px; background-image: url(https://newsapi.org/images/flags/us.svg); background-repeat: no-repeat; text-align: center; background-position: center; "
        (click)="usa()"></td>
    </tr>
  </tbody>
</table>