<div class="album py-5 bg-light">
<div class="container">

  <div class="row">
    <div class="col-md-4" *ngFor="let movie of movies">
      <div class="card mb-4 shadow-sm">
        <img class="bd-placeholder-img card-img-top" width="75%" height="225" src="{{movie.image}}" alt="Image not available">
        <div class="card-body">
          <p class="card-text" style="font-size:20px">{{movie.name}}</p>
          <p class="card-text">Starring: {{movie.cast}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <a class="btn btn-secondary" role="button" style="color:azure" href="/movies/{{movie.name}}">Book tickets »</a>
            <small class="text-muted">Language: English</small>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
