<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Book Marvel Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-home">Admin-Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-movies">Admin-Movies </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/admin-theatres">Admin-Theatres <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-shows">Admin-Shows </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-bookings">Admin-Bookings </a>
      </li>
    </ul>
  </div>
</nav>

<br>
<br>
<br>
<div class="btn-group btn-group-lg" role="group">
  <span style="padding-left: 30px"></span>
  <button type="button" class="btn btn-primary" (click)="viewMode='view'">View Theatres</button>
  <span style="padding-left: 30px"></span>
  <button type="button" class="btn btn-primary" (click)="viewMode='add'">Add new theatre</button>
  <span style="padding-left: 30px"></span>
  <button type="button" class="btn btn-primary" (click)="viewMode='delete'">Delete theatre</button>
</div>

<br>
<br>

<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'view'">
      <h2>List of all Theatres:</h2>
      <table class="table table-hover" style="text-align: center;">
          <thead>
              <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Image url</th>
                  <th scope="col">Location</th>
                  <th scope="col">Pincode</th>
              </tr>
          </thead>
          <tbody *ngFor="let theatre of theatres">
              <tr>
                  <td>{{theatre.name}}</td>
                  <td>{{theatre.image}}</td>
                  <td>{{theatre.location}}</td>
                  <td>{{theatre.pin}}</td>
              </tr>
          </tbody>
      </table>
  </div>
  

  <div *ngSwitchCase="'add'">
      <h2>Add new Theatre:</h2>
      <form>
          <div class="form-group">
            <h3>Enter the details of the new Theatre</h3>
            <label for="name">Enter name of theatre:</label>
            <input type="email" class="form-control" id="name" [(ngModel)]="theatre.name" [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp" placeholder="Theatre name">
            <label for="image">Enter image url:</label>
            <input type="email" class="form-control" id="image" [(ngModel)]="theatre.image" [ngModelOptions]="{standalone: true}"  aria-describedby="emailHelp" placeholder="Image url">
            <label for="cast">Enter location of theatre:</label>
            <input type="email" class="form-control" id="cast" [(ngModel)]="theatre.location" [ngModelOptions]="{standalone: true}"  aria-describedby="emailHelp" placeholder="Location">
            <label for="rating">Enter pincode of theatre:</label>
            <input type="number" class="form-control" id="rating" [(ngModel)]="theatre.pin" [ngModelOptions]="{standalone: true}"  aria-describedby="emailHelp" placeholder="Pincode">
          </div>
          <button type="submit" class="btn btn-primary" (click)="add()">Submit</button>
        </form>
  </div>

  <div *ngSwitchCase="'delete'">
      <table class="table table-hover" style="text-align: center;">
          <thead>
              <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Location</th>
                  <th scope="col">Pincode</th>
              </tr>
          </thead>
          <tbody *ngFor="let theatre of theatres">
              <tr>
                  <td>{{theatre.name}}</td>
                  <td>{{theatre.location}}</td>
                  <td>{{theatre.pin}}</td>
                  <td><button type="button" class="btn btn-primary" (click)="delete(theatre.name)">Delete Theatre</button></td>
              </tr>
          </tbody>
        </table>
  </div>

</div>