<table width="1365px" style="text-align:center">
  <tr>
    <td style="cursor: pointer; padding-top:294px; padding-bottom:300px; background-image: url(https://i.pinimg.com/originals/6b/1b/33/6b1b33f522087e2532e62c099494c76f.jpg)" (click)="movies()"><strong style="color: white; font-size: 50px"> All Movies </strong></td>
    <td style="cursor: pointer; padding-top:294px; padding-bottom:300px; background-image: url(https://dhoom.filmipop.com/media//theatre/2017/May/1494479047-kurla.post.jpg)" (click)="theats()"><strong style="color: white; font-size: 50px"> All Theatres </strong></td>
  </tr>
</table>